*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title{
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#legend span{
  margin-left: 10px;
  margin-right: 10px;
}

#legend-bots{
  color: red
}

#legend-nodes{
  color: blue
}

#legend-bot-on-node{
  color: purple
}

#map{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
}

.cell{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  border: 1px solid white;
  color: white;
  width: 40px;
  height: 40px;
}

.bot{
  background-color: red;
}

.node{
  background-color: blue;
}

.both{
  background-color: purple
}